/*Add your custom styles here*/
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #0d1117;
    color: #dfedf3;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.button {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #dfedf3;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    color: #dfedf3;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td {
    padding: 6px 13px;
    border: 1px solid rgb(48, 54, 61);
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1440px;
}

.starting-title {
    text-align: center;
}